<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Find a Boris Bike</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>


  <meta name="description" content="Easily locate available Boris Bikes wherever you are in London. Simply enter a location to
  get a list of stations with the number of available bikes and docking spaces and the distance from your location.">

  <meta property="og:title" content="Easily locate available Boris Bikes wherever you are in London. Simply enter a location to
  get a list of stations with the number of available bikes and docking spaces and the distance from your location.">
  <meta property="og:type" content="website">

  <meta property="og:sitename" content="Find a Boris Bike">
  <meta property="og:description" content="Easily locate available Boris Bikes wherever you are in London. Simply enter a location to
  get a list of stations with the number of available bikes and docking spaces and the distance from your location.">
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-49051605-1', 'findaboris.com');
  ga('send', 'pageview');

</script>
</head>
<body>

<%= yield %>

</body>
</html>